
hosts_backup
hosts_lines
backup/
/.idea/.gitignore
/.idea/GasterBlacklist.iml
/.idea/runConfigurations/Main.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
GasterBlacklistUrlAdderPackage/__pycache__/